@import "variables";

@font-face {
  font-family: 'emlakkonut';
  src:  url('#{$icomoon-font-path}/emlakkonut.eot?rhs6u5');
  src:  url('#{$icomoon-font-path}/emlakkonut.eot?rhs6u5#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/emlakkonut.ttf?rhs6u5') format('truetype'),
    url('#{$icomoon-font-path}/emlakkonut.woff?rhs6u5') format('woff'),
    url('#{$icomoon-font-path}/emlakkonut.svg?rhs6u5#emlakkonut') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'emlakkonut' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-Accept {
  &:before {
    content: $icon-Accept;
  }
}
.icon-Asset-2 {
  &:before {
    content: $icon-Asset-2;
  }
}
.icon-Cancel {
  &:before {
    content: $icon-Cancel;
  }
}
.icon-Cancell {
  &:before {
    content: $icon-Cancell;
  }
}
.icon-Clean {
  &:before {
    content: $icon-Clean;
  }
}
.icon-Closex {
  &:before {
    content: $icon-Closex;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-designer {
  &:before {
    content: $icon-designer;
  }
}
.icon-General {
  &:before {
    content: $icon-General;
  }
}
.icon-Header {
  &:before {
    content: $icon-Header;
  }
}
.icon-Houses {
  &:before {
    content: $icon-Houses;
  }
}
.icon-Image_photo {
  &:before {
    content: $icon-Image_photo;
  }
}
.icon-Kat_Plani {
  &:before {
    content: $icon-Kat_Plani;
  }
}
.icon-kroki {
  &:before {
    content: $icon-kroki;
  }
}
.icon-Link {
  &:before {
    content: $icon-Link;
  }
}
.icon-Map {
  &:before {
    content: $icon-Map;
  }
}
.icon-Paragraph {
  &:before {
    content: $icon-Paragraph;
  }
}
.icon-Plots {
  &:before {
    content: $icon-Plots;
  }
}
.icon-Pointer {
  &:before {
    content: $icon-Pointer;
  }
}
.icon-Polygon-1-kopia {
  &:before {
    content: $icon-Polygon-1-kopia;
  }
}
.icon-proje_gorseli_ekle {
  &:before {
    content: $icon-proje_gorseli_ekle;
  }
}
.icon-Projects_Icon {
  &:before {
    content: $icon-Projects_Icon;
  }
}
.icon-Quantity {
  &:before {
    content: $icon-Quantity;
  }
}
.icon-Questionmark-copy {
  &:before {
    content: $icon-Questionmark-copy;
  }
}
.icon-redoAsset-3 {
  &:before {
    content: $icon-redoAsset-3;
  }
}
.icon-Save {
  &:before {
    content: $icon-Save;
  }
}
.icon-Search {
  &:before {
    content: $icon-Search;
  }
}
.icon-Select_Icon {
  &:before {
    content: $icon-Select_Icon;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-tools_cricle {
  &:before {
    content: $icon-tools_cricle;
  }
}
.icon-tools_map {
  &:before {
    content: $icon-tools_map;
  }
}
.icon-tools_rectangels {
  &:before {
    content: $icon-tools_rectangels;
  }
}
.icon-tools_shape {
  &:before {
    content: $icon-tools_shape;
  }
}
.icon-undoAsset-2 {
  &:before {
    content: $icon-undoAsset-2;
  }
}
.icon-update {
  &:before {
    content: $icon-update;
  }
}
.icon-Video {
  &:before {
    content: $icon-Video;
  }
}
.icon-Youtube {
  &:before {
    content: $icon-Youtube;
  }
}