$icomoon-font-path: "../font" !default;

$icon-menu: "\e900";
$icon-lock: "\e901";
$icon-user: "\e902";
$icon-plus: "\e903";
$icon-Accept: "\e904";
$icon-Asset-2: "\e905";
$icon-Cancel: "\e906";
$icon-Cancell: "\e907";
$icon-Clean: "\e908";
$icon-Closex: "\e909";
$icon-delete: "\e90a";
$icon-designer: "\e90b";
$icon-General: "\e90c";
$icon-Header: "\e90d";
$icon-Houses: "\e90e";
$icon-Image_photo: "\e90f";
$icon-Kat_Plani: "\e910";
$icon-kroki: "\e911";
$icon-Link: "\e912";
$icon-Map: "\e913";
$icon-Paragraph: "\e914";
$icon-Plots: "\e915";
$icon-Pointer: "\e916";
$icon-Polygon-1-kopia: "\e917";
$icon-proje_gorseli_ekle: "\e918";
$icon-Projects_Icon: "\e919";
$icon-Quantity: "\e91a";
$icon-Questionmark-copy: "\e91b";
$icon-redoAsset-3: "\e91c";
$icon-Save: "\e91d";
$icon-Search: "\e91e";
$icon-Select_Icon: "\e91f";
$icon-settings: "\e920";
$icon-tools_cricle: "\e921";
$icon-tools_map: "\e922";
$icon-tools_rectangels: "\e923";
$icon-tools_shape: "\e924";
$icon-undoAsset-2: "\e925";
$icon-update: "\e926";
$icon-Video: "\e927";
$icon-Youtube: "\e928";